name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Install concurrently (for running both servers)
        run: npm install -g concurrently

      - name: Build project
        run: npm run build  # หรือ npm run dev ถ้าคุณใช้ dev script ในการ build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PAPAKJAI_EDA88 }}
          channelId: live
          projectId: papakjai-eda88
